
body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
}
.container {
    display: flex;
    width: 100%;
}
#sidebar {
    background-color: #666;
    color: #fff;
    width: 30%; /* 左边栏占30%宽度 */
    padding: 20px;
    height: calc(100vh - 20px); /* 左边栏填充屏幕高度减去顶部和底部padding */
}
#content {
    background-color: #fff;
    width: 70%; /* 主题占70%宽度 */
    padding: 20px;
    height: calc(100vh - 20px); /* 主题填充屏幕高度减去顶部和底部padding */
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
}
#title-bar {
    background-color: black;
    color: #fff;
    padding: 10px;
    width: 100%;
}
*{
    text-align: center;
}