body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 100vh;
    margin: 0;
}

#sidebar {
    background-color: #333;
    color: #fff;
    width: 20%;
    padding: 20px;
}

#content {
    background-color: #fff;
    width: 80%;
    padding: 20px;
}

*{
    text-align: center;
}